@charset "utf-8";
h2{
  display: none;
}
/* 상단배너 */
.bt_ban{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.bt_ban li{
  background-color: rgb(127, 127, 127);
  width: 33.3%;

}
.bt_ban li img{
  width:100%;
  transform: translateY(-70px);
}




#banner_slide{
  width: 100%;height: 500px;
  position: relative;
  overflow: hidden;
}
.slide{
  display: flex;
  position: absolute;
  left: 0px;top: 0px;
  width: 300%;
  transition: .4s;
}